{{ form_start(form, {'attr': {'class': 'space-y-4'}}) }}
    <div class="form-control w-full">
        {{ form_label(form.title, 'Título', {'label_attr': {'class': 'label-text font-semibold text-slate-600'}}) }}
        {{ form_widget(form.title, {'attr': {'class': 'input input-bordered w-full bg-white'}}) }}
    </div>

    <div class="form-control w-full">
        {{ form_label(form.content, 'Conteúdo', {'label_attr': {'class': 'label-text font-semibold text-slate-600'}}) }}
        {{ form_widget(form.content, {'attr': {'class': 'textarea textarea-bordered h-40 bg-white'}}) }}
    </div>

    <button class="btn btn-primary text-white w-full">
        {{ button_label|default('Salvar Post') }}
    </button>
{{ form_end(form) }}